$fontsize : 18px;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Turret Road', cursive;
}
p {
  font-size: $fontsize;
}
b {
  font-size: $fontsize + 2px;
}

body{
  background-color: beige;
}